.header1{
	background-color :#fff2e6;
	border : black 1px solid; 
	text-align:center; 
	font-family: 'Galada', cursive;
	}

	.header2{
		background-color :#ffe5cc;
		border : black 1px solid; 
		text-align:left;  
		font: 12px Tahoma; 
		}

	.footer{

		background-color :#fff2e6;
		border : black 1px solid; 
		text-align :  center ; 
		font : 18px Tahoma; 
		}
	.required {
				font-weight : bold ; 
				}

	.menuitems {
		background-color :#d3f8f5; 
		height : 200px; 
	}